.app-video-episode-create {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app-video-episode-create-step1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.app-video-episode-create-step1-footer {
  display: flex;
  justify-content: flex-end;
}

.app-video-episode-create-step2-footer {
  display: flex;
  justify-content: flex-end;
}

.app-video-episode-create-step3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}