.my-component-template-listpage-header {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.my-component-template-listpage-bg {
  flex: 1;
}

.my-component-template-listpage-search {
  flex: 0;
}

.my-component-template-listpage-main {
  width: 100%;
}